# Telegram Bot Configuration
BOT_TOKEN=your_telegram_bot_token_here
ADMINS=[your_admin_user_id_here]

# External Services Configuration
FCS_WIKI_URL=http://wiki.cs.hse.ru/your_course_wiki_page
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/your_spreadsheet_id/edit
GOOGLE_CREDS_FILE=src/config/creds.json

# Application Configuration
LOG_LEVEL=INFO
LOG_DIR=logs
ENVIRONMENT=production
TZ=Europe/Moscow